@font-face {
    font-family: "icons";
    src: url("./icons.eot?b2881092e3d3ffa6359b574e61a19323#iefix") format("embedded-opentype"),
url("./icons.woff?b2881092e3d3ffa6359b574e61a19323") format("woff"),
url("./icons.woff2?b2881092e3d3ffa6359b574e61a19323") format("woff2");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-action:before {
    content: "\f101";
}
.icon-ally:before {
    content: "\f102";
}
.icon-asteroid-old:before {
    content: "\f103";
}
.icon-asteroid:before {
    content: "\f104";
}
.icon-comet:before {
    content: "\f105";
}
.icon-contract:before {
    content: "\f106";
}
.icon-destroy:before {
    content: "\f107";
}
.icon-empty-space:before {
    content: "\f108";
}
.icon-facility:before {
    content: "\f109";
}
.icon-file-invoice:before {
    content: "\f10a";
}
.icon-move:before {
    content: "\f10b";
}
.icon-rocket:before {
    content: "\f10c";
}
.icon-rotate-clockwise:before {
    content: "\f10d";
}
.icon-rotate:before {
    content: "\f10e";
}
.icon-victory-points:before {
    content: "\f10f";
}
