* {
 /*
 font-size: 100%;
 font-family: 'Roboto', sans-serif;
 font-family: "Roboto Serif", serif;
 line-height: 120%;
 font-variation-settings: "wdth" 150;
  */
  font-family: "Roboto Serif", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-variation-settings:
    "wdth" 80,
    "GRAD" 0;
}

html, body, .main, .tabs, .tabbed-content { float: none; }

body {
  margin: 0px;
}

@page  
{ 
    size: 8.5in 11in;

    /* this affects the margin in the printer settings */ 
    padding: .25in .25in .25in .25in;
}

.page {
  box-sizing: border-box;
  width: 8.5in;
  height: 11in;
  break-after: always;
  page-break-after: always;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 2.5in);
  grid-template-rows: repeat(3, 3.5in);
  border-color: black;
  border-style: solid;
  border-width: 4px;
}

/* Table top simulator content */
.tabletop-simulator-page {
  box-sizing: border-box;
  width: 25in;
  height: 24.5in;
  break-after: always;
  page-break-after: always;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabletop-simulator-card-grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(10, 2.5in);
  grid-template-rows: repeat(7, 3.5in);
  border-color: black;
  border-style: solid;
  border-width: 4px;
}
/* END Table top simulator content */

.card, .card * {
  box-sizing: border-box;
}

.card {
  width: 2.5in;
  height: 3.5in;
  grid-column: span 1;
  border-color: black;
  border-style: solid;
  /* Margin is 3mm. Bleed is 3mm. Bleed not shown here */
  border-width: 1mm;
  padding: 2mm;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /*box-shadow: inset 0 0 20px black;*/
  text-align: center;
}

.card-type {
  font-size: 10pt;
  font-weight: normal;
}

.type-icon {
  width: 50px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
}

.header-left {
  width: 50px;
  margin-left: 0;
  z-index: -3;
  position: absolute;
}

.header-right {
  width: 50px;
  margin-left: auto;
  z-index: -3;
}

.victory-points {
  display: flex;
  justify-content: center;
}

.victory-point-text {
  font-size: 18pt;
  font-weight: bold;
}

.funding-points {
  display: flex;
  justify-content: center;
}

.funding-text {
  font-size: 18pt;
  font-weight: bold;
  top: 2px;
  color: white;
  margin-left: -12px;
}

.card-type {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
}

.card-title {
  font-size: 12pt;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 2px;
  margin-top: 2px;
}

.title-box {
  border: black solid;
  border-width: 1px;
  border-radius: 6px;
  background: #000;
  margin-bottom: 4px;
  margin-top: -11px;
  margin-left: -9px;
  margin-right: -9px;
  color: white;
}

.text-box {
  border: black solid;
  border-width: 1px;
  border-radius: 6px;
  background: #ddd;
  filter: drop-shadow(0px 2px 3px);

}

  /*
.text-box {
  border: black solid;
  border-width: 1px;
  border-radius: 8px;
  background: #dddd;
  margin-bottom: 6px;
  margin-left: 6px;
  margin-right: 6px;
}
*/

.card-back-title {
  font-size: 38pt;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: -5px;
  text-shadow: white -5px -5px 5px,
               white -5px 5px 5px,
               white 5px -5px 5px,
               white 5px 5px 5px;
}

.faction-card-back-title {
  font-size: 32pt !important;
}

.white-shadow {
  filter: drop-shadow(-5px -5px 5px #ffffff88)
          drop-shadow(-5px 5px 5px #ffffff88)
          drop-shadow(5px -5px 5px #ffffff88)
          drop-shadow(5px 5px 5px #ffffff88) !important;
}

.white-shadow-intense {
  filter: drop-shadow(-5px -5px 5px #ffffffcc)
          drop-shadow(-5px 5px 5px #ffffffcc)
          drop-shadow(5px -5px 5px #ffffffcc)
          drop-shadow(5px 5px 5px #ffffffcc) !important;
}

.white-shadow-main-text {
  filter: drop-shadow(-7px -7px 7px #ffffffdd)
          drop-shadow(-7px 7px 7px #ffffffdd)
          drop-shadow(7px -7px 7px #ffffffdd)
          drop-shadow(7px 7px 7px #ffffffdd);
}

.card-text-box {
  padding: 5px;
  margin-top: auto;
}

.newspaper-border {
  position: relative;
  background:
    repeating-linear-gradient(transparent, transparent 1px, rgba(0,0,0,0.03) 1px, rgba(0,0,0,0.02) 2px),
    repeating-linear-gradient(90deg, transparent, transparent 1px, rgba(0,0,0,0.03) 1px, rgba(0,0,0,0.02) 2px),
  linear-gradient(to bottom, transparent 8px, #e0e0e0 8px);
}

.first-contract {
  /*transform: translateY(-1px);*/
  transform: rotate(-5deg);
  display: inline-block;
  z-index: 3;
  position: relative;
}

.second-contract {
  /*filter: grayscale(40%) brightness(120%);*/
  opacity: 80%;
  transform: rotate(10deg) translateX(-3px) translateY(-1px);
  transform-origin: left;
  z-index: 2;
  display: inline-block;
  position: relative;
}

.third-contract {
  opacity: 60%;
  /*filter: grayscale(60%) brightness(130%);*/
  transform: rotate(20deg) translateX(-6px) translateY(1px);
  transform-origin: left;
  z-index: 1;
  display: inline-block;
  position: relative;
  margin-right: -5px;
}

.icon-image {
  margin-bottom: -1px;
  height: .14in;
  display: inline-block;
}

.icon-image-large {
  margin-bottom: -3px !important;
  height: .18in !important;
}

.icon-margins {
  margin-left: 2px;
  margin-right: 2px;
}

.asteroid {
  margin-bottom: -1px;
  height: .14in;
}

.asteroid-large {
  margin-bottom: -2px;
  height: .18in !important;
}

.funding {
  margin-bottom: -5px;
  height: .20in;
}

.cost {
  position: absolute;
  margin-left: 3px;
  padding-top: 1px;
  color: white;
  font-size: 10pt;
}

.specific-facility-icon {
  margin-bottom: -1px;
  height: .14in;
}

.shape-large {
  margin-bottom: -3px;
  height: .18in;
}

.filter-blue {
  filter: invert(11%) sepia(94%) saturate(6875%) hue-rotate(235deg) brightness(99%) contrast(112%);
}

.card-icon-image {
  filter: drop-shadow(0 1px 1px #000);
  margin-bottom: -2px;
  height: 15px;
  display: inline-block;
}

.card-icon-image-large {
  margin-bottom: -3px !important;
  height: 18px !important;
}

.route-box {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: auto;
  margin: auto;
  margin-left: 0px;
  padding: 5px;
  margin-right: 3mm
}

.route-box::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 40px;
  bottom: 20px;
  border-left: 2px dashed #000;
  /*transform: translateX(-25%);*/
}

.facility {
  max-height: .4in;
  margin-top: 7px;
}

.contract-card {
}

.contract-boxes {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-top: 15px;
}

.overlay-box-label {
  margin-top: -2px;
}

.contract-title {
  font-size: 16pt !important;
  position: absolute;
  width: 160px;
}

.turn-order-title {
  font-size: 16pt !important;
  position: absolute;
  width: 160px;
}

.faction-card-title {
  font-size: 18pt !important;
  position: absolute;
  margin: 10px;
  width: 1.67in;
  height: 60px;
  padding: 0px;
  display: flex;
  font-weight: bold;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0px;
}

.bonus-box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1.2in;
  text-align: center;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  padding: 5px;
}

.bonus-box-small {
  width: 0.95in;
}

.bonus-box-large {
  width: 1.25in;
}

.bonus-line {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: auto;
  height: 30px;
}

.bonus-line-small {
  margin-right: auto;
}

.bonus-line-item {
  display: inline-block;
  height: 30px;
}

.comet {
  transform: scaleX(-1) translate(-0%, -10%);
}

.bonus-colon {
  font-size: 26px;
  margin-top: -2px;
  margin-right: 7px;
  margin-left: 7px;
}

.bonus-line-card {
  filter: drop-shadow(0 1px 1px #000);
  margin-left: 5px;  /* TODO should we get rid of this? */
}

.bonus-seperator {
  border: 0;
  height: 2px;
  margin: 0px;
  margin-bottom: 10px;
  margin-top: 5px;
  background: linear-gradient(to right, black, black 40%, transparent 40%, transparent 60%, black 60%, black 100%);
}

.bonus-seperator::before {
    content: '+';
    position: absolute;
    top: 50%;
    transform: translate(-50%, -30%);
    color: black;
    font-size: 26px;
}

.overlay-box {
  background-color: #ffffffaa;
  border-radius: 10px;
}

.faction-mat-faction-icon {
  margin: 10px;
  width: 0.8in;
  height: 0.8in;
  z-index: 2;
}

.faction-mat-faction-icon-black {
  margin: 10px;
  width: 0.8in;
  height: 0.8in;
  z-index: 0;
  filter: brightness(0%);
  opacity: 92%;
}

.faction-mat-icon-back {
  margin: auto;
  width: 2in;
  height: 2in;
  z-index: 2;
}

.faction-title-box {
  margin: 10px;
  margin-left: -48px;
  margin-right: -48px;
  background-color: #000000e0;
  color: white;
  z-index: 1;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.faction-title {
  padding-left: 10px;
  padding-right: 0px;
  font-size: 28pt;
  font-weight: bold;
  margin-top: 18px;
  margin-bottom: 0px;
  margin-right: 10px
}

.action-box-title {
  font-weight: bolder;
}

.action-box {
  margin: 10px;
  font-size: 11pt;
  width: 200px;
  height: 190px;
  position: relative;
}

.action-box-center {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
}

.action-box-item {
  border-radius: 50px;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
}

.action-box-item-1 {
  margin-left: calc(0);
  margin-top: -34%;
}

.action-box-item-2 {
  margin-left: 28%;
  margin-top: -14%;
}

.action-box-item-3 {
  margin-left: 17%;
  margin-top: 19%;
}

.action-box-item-4 {
  margin-left: -28%;
  margin-top: -14%;
}

.action-box-item-5 {
  margin-left: -17%;
  margin-top: 19%;
}

.action-box-item-title {
  color: white;
  margin-bottom: 7px;
}

.action-box-item-title-3 {
  transform: rotate(180deg);
}

.action-box-item-title-5 {
  transform: rotate(180deg);
}

.action-box-item-content {
  display: block;
  text-align: center;
}

.faction-mat-grid {
  display: flex;
  flex-direction: column;
}

.faction-icon-and-title {
  display: flex;
  flex-direction: row;
}

.faction-info-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.faction-mat {
  width: 7.5in;
  height: 3.5in;
  background-size: cover;
  border-color: black;
  border-style: solid;
  border-color: 4px;

  display: flex;
  flex-direction: column;
}

.faction-mat-interior {
  padding: 30px;
}

faction-mat-edge {
  background: #ff4444d8;
}

.faction-deck-arrow {
  position: absolute;
  display: flex;
  flex-direction: column;
  transform: translateX(-50%) translateX(15px) translateY(1.6in) rotate(-90deg);
  width: 3.5in;
  height: 30px;
  text-align: center;
  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
}

.scored-cards-arrow {
  position: absolute;
  display: flex;
  flex-direction: column;
  transform: translateX(-50%) translateX(-15px) translateX(7.5in) translateY(1.6in) rotate(90deg);
  width: 3.5in;
  height: 30px;
  text-align: center;
  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
}

.allies-arrow {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 7.5in;
  height: 30px;
  text-align: center;
  clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 5% 100%);
}

.achievement-symbol {
  margin-bottom: -4px;
  height: .18in;
}

.cloud-text {
  display: inline-block;
  margin: 0px;
  text-align: left;
  font-size: 11pt;
  filter: unset;
}

.cloud-text-large {
  font-size: 13pt;
  font-variation-settings: "wdth" 73;
}

.card-background-image {
  margin-left: -3mm;
  margin-top: -3mm;
  position: absolute;
  width: 2.5in;
  height: 3.5in;
  z-index: -4;
}

.divider-background-image {
  margin-left: -3mm;
  margin-top: -3mm;
  position: absolute;
  width: 3.5in;
  height: 4.5in;
  z-index: -4;
}

.turn-order-score-text {
  position: absolute;
  margin-top: 70px;
  margin-left: 40px;
  font-size: 14pt;
}

.scored-cards-text {
  position: absolute;
  font-size: 6pt;
  margin-left: 168px;
  margin-top: 128px;
  z-index: 1;
}

.turn-order-diagram {
  position: absolute;
  width: 2in;
  margin-top: 90px;
  margin-left: 20px;
}

.turn-order-draw {
  margin-top: 1.57in;
  padding-top: 0px;
  padding-bottom: 20px;
  font-size: 14pt;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 10px;
  z-index: 2;
  backdrop-filter: brightness(85%);
}

.turn-order-draw-text {
  margin-top: 10px;
  margin-bottom: 25px;
}

.helper-card-faction-line {
  display: flex;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: black;
  align-items: center;
  margin-bottom: 1px;
}

.helper-card-faction-icon {
  width: 44px;
  margin: 2px;
}

.helper-card-faction-title {
  font-weight: bold;
  font-size: 10pt;
}

.helper-card-faction-description {
  font-size: 10pt;
  margin: 0px;
  padding: 0px;
  padding-left: 3px;
  align-self: middle;
  text-align: left;
  font-variation-settings: "wdth" 60;
}

.helper-card-section {
  backdrop-filter: brightness(120%) blur(2px);
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 4px;
}

.helper-card-icon-grid {
  display: inline-grid;
  grid-template-columns: repeat(2, 60%);
  font-size: 11pt;
  font-variation-settings: "wdth" 60;
  text-align: left;
}

.legend-item {
  margin-top: 4px;
}

.legend-parenthetical {
  font-size: 10pt;
}

.double-column {
  grid-column: 1 / 3;
}

.helper-card-turn-overview {
  font-size: 11pt;
  font-variation-settings: "wdth" 60;
  text-align: left;
}

.helper-card-title {
  font-size: 12pt;
  font-weight: bold;
  font-variation-settings: "wdth" 60;
  text-align: center;
}

.end-game-marker {
  width: 3.5in;
  height: 4.5in;
  border-color: black;
  border-style: solid;
  border-width: 1mm;
  padding: 3mm;
  display: flex;
  /*box-shadow: inset 0 0 20px black;*/
  text-align: center;
  box-sizing: border-box;
  margin: 10px;
}

.end-game-title {
  position: absolute;
  width: 3.5in;
  height: 30px;
  font-size: 16pt;
  font-variation-settings: "wdth" 100;
}

.end-game-titles {
  align-items: center;
  display: flex;
}

.end-game-left {
  transform: translateX(-50%) rotate(90deg) translateY(-50%) ;
}

.end-game-right {
  transform: translateX(50%) rotate(-90deg) translateY(-100%) translateY(-3mm);
}

.end-game-top {
  margin-top: 0px;
  margin-left: -14px;
  transform: rotate(180deg) /*translateY(-75%) translateY(-3mm);*/
}

.end-game-bottom {
  align-self: end;
  margin-left: -14px;
}

.end-game-card-box {
  width: 2.5in;
  height: 3.5in;
  border-radius: 10px;
  border-color: white;
  border-style: dashed;
  border-width: 1mm;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  background-color: #fffa;
  backdrop-filter: blur(1px);
  text-align: center;
}

.end-game-heading {
  text-align: center;
  font-size: 18pt;
  font-weight: bold;
}
