* {
 /*
 font-size: 100%;
 font-family: 'Roboto', sans-serif;
 font-family: "Roboto Serif", serif;
 line-height: 120%;
 font-variation-settings: "wdth" 150;
  */
  font-family: "Roboto Serif", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-variation-settings:
    "wdth" 80,
    "GRAD" 0;
}

html, body, .main, .tabs, .tabbed-content { float: none; }

body {
  margin: 0px;
}

@page  
{ 
    size: 8.5in 11in;

    /* this affects the margin in the printer settings */ 
    padding: .25in .25in .25in .25in;
}

.page {
  box-sizing: border-box;
  width: 8.5in;
  height: 11in;
  break-after: always;
  page-break-after: always;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 2.5in);
  grid-template-rows: repeat(3, 3.5in);
  border-color: black;
  border-style: solid;
  border-width: 4px;
}

.card, .card * {
  box-sizing: border-box;
}

.card {
  width: 2.5in;
  height: 3.5in;
  grid-column: span 1;
  border-color: black;
  border-style: solid;
  /* Margin is 3mm. Bleed is 3mm. Bleed not shown here */
  border-width: 1mm;
  padding: 2mm;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /*box-shadow: inset 0 0 20px black;*/
  text-align: center;
}

.card-type {
  font-size: 10pt;
  font-weight: normal;
}

.ally-top-line {
  display: grid;
  grid-template-columns: 22% 50% 28%;
  margin: 10px;
  border-radius: 10px;
}

.type-icon {
  width: 50px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
}

.banner-plate-box {
  width: 50px;
  margin-left: 0px;
  z-index: -3;
}

.victory-points {
  display: flex;
  justify-content: center;
}

.victory-point-text {
  font-size: 18pt;
  font-weight: bold;
}

.card-type {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
}

.card-title {
  font-size: 12pt;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 2px;
  margin-top: 2px;
}

.title-box {
  border: black solid;
  border-width: 1px;
  border-radius: 6px;
  background: #000;
  margin-bottom: 4px;
  margin-top: -11px;
  margin-left: -9px;
  margin-right: -9px;
  color: white;
}

.text-box {
  border: black solid;
  border-width: 1px;
  border-radius: 6px;
  background: #ddd;
  filter: drop-shadow(0px 2px 3px);

}

  /*
.text-box {
  border: black solid;
  border-width: 1px;
  border-radius: 8px;
  background: #dddd;
  margin-bottom: 6px;
  margin-left: 6px;
  margin-right: 6px;
}
*/

.card-back-title {
  font-size: 38pt;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: -5px;
  text-shadow: white -5px -5px 5px,
               white -5px 5px 5px,
               white 5px -5px 5px,
               white 5px 5px 5px;
}

.faction-card-back-title {
  font-size: 32pt !important;
}

.white-shadow {
  filter: drop-shadow(-5px -5px 5px #ffffff88)
          drop-shadow(-5px 5px 5px #ffffff88)
          drop-shadow(5px -5px 5px #ffffff88)
          drop-shadow(5px 5px 5px #ffffff88);
}

.white-shadow-intense {
  filter: drop-shadow(-5px -5px 5px #ffffffcc)
          drop-shadow(-5px 5px 5px #ffffffcc)
          drop-shadow(5px -5px 5px #ffffffcc)
          drop-shadow(5px 5px 5px #ffffffcc);
}

.white-shadow-main-text {
  filter: drop-shadow(-7px -7px 7px #ffffffdd)
          drop-shadow(-7px 7px 7px #ffffffdd)
          drop-shadow(7px -7px 7px #ffffffdd)
          drop-shadow(7px 7px 7px #ffffffdd);
}

.card-text-box {
  padding: 5px;
  margin-top: auto;
}

.newspaper-border {
  position: relative;
  background:
    repeating-linear-gradient(transparent, transparent 1px, rgba(0,0,0,0.03) 1px, rgba(0,0,0,0.02) 2px),
    repeating-linear-gradient(90deg, transparent, transparent 1px, rgba(0,0,0,0.03) 1px, rgba(0,0,0,0.02) 2px),
  linear-gradient(to bottom, transparent 8px, #e0e0e0 8px);
}

.first-contract {
  /*transform: translateY(-1px);*/
  display: inline-block;
  z-index: 3;
  position: relative;
}

.second-contract {
  /*filter: grayscale(40%) brightness(120%);*/
  opacity: 80%;
  transform: rotate(10deg) translateX(-3px) translateY(-1px);
  transform-origin: left;
  z-index: 2;
  display: inline-block;
  position: relative;
}

.third-contract {
  opacity: 60%;
  /*filter: grayscale(60%) brightness(130%);*/
  transform: rotate(20deg) translateX(-6px) translateY(1px);
  transform-origin: left;
  z-index: 1;
  display: inline-block;
  position: relative;
  margin-right: -5px;
}

.icon-image {
  margin-bottom: -1px;
  height: .14in;
  display: inline-block;
}

.icon-margins {
  margin-left: 2px;
  margin-right: 2px;
}

.asteroid {
  margin-bottom: -1px;
  height: .14in;
}

.specific-facility-icon {
  margin-bottom: -1px;
  height: .14in;
}

.filter-blue {
  filter: invert(11%) sepia(94%) saturate(6875%) hue-rotate(235deg) brightness(99%) contrast(112%);
}

.card-icon-image {
  filter: drop-shadow(0 1px 1px #000);
  margin-bottom: -2px;
  height: .14in;
  transform: rotate(-5deg);
  display: inline-block;
}

.route-box {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: auto;
  margin: auto;
  margin-left: 0px;
  padding: 5px;
  margin-right: 3mm
}

.route-box::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 40px;
  bottom: 20px;
  border-left: 2px dashed #000;
  /*transform: translateX(-25%);*/
}

.facility {
  max-height: .4in;
  margin-top: 7px;
}

.contract-card {
}

.contract-boxes {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-top: 15px;
}

.overlay-box-label {
  margin-top: -2px;
}

.contract-title {
  font-size: 16pt !important;
  position: absolute;
  margin-left: 64px;
  width: 157px;
}

.faction-card-title {
  font-size: 18pt !important;
  position: absolute;
  margin: 10px;
  width: 1.67in;
  height: 60px;
  padding: 0px;
  display: flex;
  font-weight: bold;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0px;
}

.bonus-box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1.2in;
  text-align: center;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  padding: 5px;
}

.bonus-box-small {
  width: 0.95in;
}

.bonus-box-large {
  width: 1.25in;
}

.bonus-line {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: auto;
  height: 30px;
}

.bonus-line-small {
  margin-right: auto;
}

.bonus-line-item {
  display: inline-block;
  height: 30px;
}

.bonus-comet {
}

.bonus-colon {
  font-size: 26px;
  margin-top: -2px;
  margin-right: 7px;
  margin-left: 7px;
}

.bonus-line-card {
  transform: rotate(-5deg);
  filter: drop-shadow(0 1px 1px #000);
  margin-left: 5px;
}

.bonus-seperator {
  border: 0;
  height: 2px;
  margin: 0px;
  margin-bottom: 10px;
  margin-top: 5px;
  background: linear-gradient(to right, black, black 40%, transparent 40%, transparent 60%, black 60%, black 100%);
}

.bonus-seperator::before {
    content: '+';
    position: absolute;
    top: 50%;
    transform: translate(-50%, -30%);
    color: black;
    font-size: 26px;
}

.overlay-box {
  background-color: #ffffffaa;
  border-radius: 10px;
}

.faction-mat-faction-icon {
  width: 1.2in;
  height: 1.2in;
  margin: 10px;
}

.faction-title-box {
  margin: 10px;
}

.faction-title {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 38pt;
  margin-top: 0px;
  margin-bottom: 0px;
}

.turn-order {
  padding: 10px;
}

.action-box {
  padding: 10px;
  margin: 10px;
}

.turn-order-box-inner {
  padding: 10px;
}

.faction-mat-grid {
  display: flex;
  flex-direction: column;
}

.faction-icon-and-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.faction-info-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.faction-mat {
  width: 7.5in;
  height: 3.5in;
  background-size: cover;
  border-color: black;
  border-style: solid;
  border-color: 4px;

  display: flex;
  flex-direction: column;
}

.faction-mat-interior {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.faction-deck-arrow {
  position: absolute;
  display: flex;
  flex-direction: column;
  transform: translateX(-50%) translateX(15px) translateY(1.6in) rotate(-90deg);
  width: 3.5in;
  height: 30px;
  background: #ffffffaa;
  text-align: center;
  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
}

.scored-cards-arrow {
  position: absolute;
  display: flex;
  flex-direction: column;
  transform: translateX(-50%) translateX(-15px) translateX(7.5in) translateY(1.6in) rotate(90deg);
  width: 3.5in;
  height: 30px;
  background: #ffffffaa;
  text-align: center;
  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
}

.allies-arrow {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 7.5in;
  height: 30px;
  background: #ffffffaa;
  text-align: center;
  clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 5% 100%);
}

.objective-symbol {
  margin-bottom: -4px;
  height: .18in;
}

.cloud-text {
  display: inline-block;
  margin: 0px;
  text-align: left;
  font-size: 11pt;
  filter: unset;
}

.cloud-text-large {
  font-size: 13pt;
}

.card-background-image {
  margin-left: -3mm;
  margin-top: -3mm;
  position: absolute;
  width: 2.5in;
  height: 3.5in;
  z-index: -4;
}
